.main_root {
	background-color: red;
	min-height: 300px;
	max-width: 1057px;
	margin: 0 auto;
}
.input {
	border: 1px solid yellow;
}
.btn {
	margin: 12px;
	padding: 8px;
	background-color: purple;
}
